.wrapper {
    margin-top: 16px;
}
.find-job-apply {
    padding: 0 16px;
    select {
        width: 20%;
        margin-left: auto;
        margin-right: 0;
    }
}
.not-found {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--form-primary-color);
    padding-bottom: 16px;
}
