.post-job-quill {
    // custom quill css
    .ql-toolbar.ql-snow {
        background-color: var(--form-background-color);
        color: var(--form-primary-color);
        border-top-left-radius: var(--boder-radius);
        border-top-right-radius: var(--boder-radius);
    }

    .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border-bottom-left-radius: var(--boder-radius);
        border-bottom-right-radius: var(--boder-radius);
        min-height: 100px;
    }
    .ql-snow .ql-color-picker .ql-picker-options {
        min-width: 152px;
    }

    .css-13cymwt-control {
        background-color: var(--form-background-color) !important;
        color: var(--form-primary-color) !important;
        border-top-left-radius: var(--boder-radius) !important;
        border-top-right-radius: var(--boder-radius) !important;
        border-bottom-left-radius: var(--boder-radius) !important;
        border-bottom-right-radius: var(--boder-radius) !important;
        border: none !important;
    }
    .css-qbdosj-Input {
        padding: 0.3rem !important;
    }
    .css-t3ipsp-control:hover {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        outline: none !important;
        border: none !important;
    }
    .css-t3ipsp-control {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        outline: none !important;
        border: none !important;
    }
    .css-1jqq78o-placeholder {
        color: var(--form-primary-color) !important;
    }
}
