.wrapper {
    margin-bottom: 50px;
    // transform: translateY(-100%);
    // animation: slide-in 0.8s forwards;
}
// @keyframes slide-in {
//     100% {
//         transform: translateY(0%);
//     }
// }
.page-title {
    text-align: center;
}
form {
    width: 80%;
    margin: auto;
    .two-cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    .o2t-two-cols {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 8px;
    }
}
.salary {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
}
.confirm-button {
    margin-top: 16px;
    background-color: var(--primary-color);
    border-radius: var(--boder-radius);
    &:hover {
        opacity: 0.8;
    }
}
.wrapper-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.location {
    display: flex;
    :first-child {
        margin-right: 10px;
    }
    :last-child {
        margin-left: 10px;
    }
    margin-bottom: 10px;
}
.form-error {
    margin-top: 5px;
    margin-left: 4px;
    color: red;
    font-size: 14px;
}
