@import 'normalize.css';
// $primary-color: #1a4ab9;
// $secondary-color: white;
// $black: black;
:root {
    --primary-color: #1a4ab9;
    --secondary-color: white;
    --black: black;
    --form-primary-color: #a7a3ff;
    --form-secondary-color: #b0b0b0;
    --form-background-color: #f0efff;
    --gray-ligth-color: rgb(234, 234, 234, 0.5);
    --boder-radius: 10px;
    --success-color: #008563;
    --gray-color: #faf9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

//font style custome 1
.fsc_1,
.nav-link {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19.36px;
    color: var(--secondary-color) !important;
}
.fsc_2 {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19.36px;
    color: var(--primary-color) !important;
    margin-left: 10px;
}
.dropdown-menu a {
    color: var(--primary-color) !important;
}

.button-no-bg {
    width: 100%;
    height: 50px;
    display: none;
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .nav-link {
        color: var(--primary-color) !important;
    }
    .button-no-bg {
        display: flex;
    }
}

//style for Home Page Students

.area-carousel {
    width: 100%;
    max-height: 400px;
}
// form login
form .form-control {
    padding: 0.7rem;
    background-color: var(--form-background-color);
    color: var(--form-primary-color);
    border-radius: var(--boder-radius);
    border: none;
    &::placeholder {
        color: var(--form-primary-color);
    }
}

form .form-label {
    color: var(--form-primary-color);
    font-weight: bold;
}

// common
section {
    .session-title {
        height: 60px;
        padding-left: 10px;
        line-height: 60px;
        background-color: rgba(97, 0, 255, 0.08);
        font-weight: bold;
        font-size: 16px;
        color: var(--primary-color);
    }
}
// breadcrumb
.breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, '>');
}
// header
.navbar-toggler {
    margin-right: 16px;
}
