@import 'normalize.css';
// $primary-color: #1a4ab9;
// $secondary-color: white;
// $black: black;
:root {
    --primary-color: #1a4ab9;
    --secondary-color: white;
    --black: black;
    --form-primary-color: #a7a3ff;
    --form-secondary-color: #b0b0b0;
    --form-background-color: #f0efff;
    --gray-ligth-color: rgb(234, 234, 234, 0.5);
    --boder-radius: 10px;
    --danger-color: #e65b65;
    --success-color: #008563;
    --warning-color: ;
    --gray-color: #faf9f9;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body,
div,
p,
li,
a,
h1,
h2,
h3,
h4,
h5 span {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

//font style custome 1
.fsc_1,
.nav-link {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19.36px;
    color: var(--secondary-color) !important;
}
.fsc_2 {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19.36px;
    color: var(--primary-color) !important;
    margin-left: 10px;
}
.dropdown-menu a {
    color: var(--primary-color) !important;
}

.button-no-bg {
    width: 100%;
    height: 50px;
    display: none;
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .nav-link {
        color: var(--primary-color) !important;
    }
    .button-no-bg {
        display: flex;
    }
}

//style for Home Page Students

.area-carousel {
    width: 100%;
    max-height: 400px;
}
// form login
form .form-control {
    padding: 0.7rem;
    background-color: var(--form-background-color);
    color: var(--form-primary-color);
    border-radius: var(--boder-radius);
    border: none;
    &::placeholder {
        color: var(--form-primary-color);
    }
}

.form-select {
    padding: 0.7rem;
    background-color: var(--form-background-color);
    color: var(--form-primary-color);
    border-radius: var(--boder-radius);
    border: none;
    &::placeholder {
        color: var(--form-primary-color);
    }
}

form .form-label {
    color: var(--form-primary-color);
    font-weight: bold;
}

// common
section {
    .session-title {
        height: 60px;
        padding-left: 10px;
        line-height: 60px;
        background-color: rgba(97, 0, 255, 0.08);
        font-weight: bold;
        font-size: 16px;
        color: var(--primary-color);
    }
}
// breadcrumb
.breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, '>');
}
// header
.navbar-toggler {
    margin-right: 16px;
}
.my-form-hidden {
    display: none;
}

// custom select
// select
.css-13cymwt-control {
    background-color: var(--form-background-color) !important;
    color: var(--form-primary-color) !important;
    border-top-left-radius: var(--boder-radius) !important;
    border-top-right-radius: var(--boder-radius) !important;
    border-bottom-left-radius: var(--boder-radius) !important;
    border-bottom-right-radius: var(--boder-radius) !important;
    border: none !important;
}
.css-qbdosj-Input {
    padding: 0.45rem !important;
}
.css-t3ipsp-control:hover {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    outline: none !important;
    border: none !important;
}
.css-t3ipsp-control {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    outline: none !important;
    border: none !important;
}
.css-1jqq78o-placeholder {
    color: var(--form-primary-color) !important;
}

// custom quill
.ql-toolbar.ql-snow {
    background-color: var(--form-background-color);
    color: var(--form-primary-color);
    border-top-left-radius: var(--boder-radius);
    border-top-right-radius: var(--boder-radius);
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-bottom-left-radius: var(--boder-radius);
    border-bottom-right-radius: var(--boder-radius);
    min-height: 100px;
}
.ql-snow .ql-color-picker .ql-picker-options {
    min-width: 152px;
}
.ql-editor .ql-video {
    width: 60%;
    height: 300px;
}
