.page-job {
    background-color: var(--gray-color);
}
.breadcrumb {
    padding: 0 32px;
}
.find-job {
    display: flex;
    flex-direction: column;
    // width: 100%;
    // height: 80px;
    // background-color: var(--secondary-color);
    // box-shadow: 0 5px 10px var(--primary-colorr);
    // border: 1px;
    // border-color: var(--primary-color);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .find-job-row {
        display: flex;
    }
    .search-input {
        padding: 0 32px;
        display: flex;
        gap: 8px;
        input {
        }
        button {
            width: 200px;
        }
    }
    .filter-wrapper {
        padding: 0 32px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        margin-bottom: 8px;
    }
    // select,
    // input,
    // button {
    //     margin: auto;
    // }
    // select,
    // input {
    //     max-width: 360px;
    //     height: 40px;
    //     padding: 0 0.7rem;
    // }
    // button {
    //     width: auto;
    //     height: 40px;
    //     background-color: var(--primary-color);
    // }
}
// .filter-wrapper {
//     display: flex;
//     // justify-content: space-between;
//     margin-top: 8px;
//     padding-bottom: 16px;
//     select {
//         // max-width: 180px;
//     }
// }
.job-pannel {
    width: 100%;
    padding: 0 32px;
    margin-top: 32px;
    .row_c {
        height: 100%;
    }
}
.pagination {
    a,
    span {
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }
}
.count-jobs {
    display: flex;
    margin-top: 32px;
    span {
        color: blue;
    }
    p {
        margin-left: 4px;
    }
}
.my-jobs {
    .my-job-title {
        background-color: var(--primary-color);
        color: white;
        padding: 16px;
        font-size: 18px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .my-job-content {
        background-color: white;
    }
    .view-all {
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}
