.form-error {
    margin-top: 5px;
    margin-left: 4px;
    color: red;
    font-size: 14px;
}
.job-apply-avt {
    width: 200px;
    height: 200px;
    img {
        border-radius: 50%;
    }
    margin: auto;
}
.wrapper-avatar {
    margin-bottom: 10px;
}
.uploadAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-button {
    margin-top: 16px;
}
