.jobs {
    width: 100%;
    box-sizing: content-box;
    padding: 10px;
}

.job-wrapper {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.mobile-carousel {
    display: none;
}

// for mobile
@media only screen and (max-width: 767px) {
    .job-wrapper {
        height: auto;
        padding: 16px;
        margin-bottom: 32px;
    }
    .mobile-carousel {
        display: block;
    }

    .desktop-carousel {
        display: none;
    }
}
// for tablet
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .job-wrapper {
        height: 600px;
        padding: 32px;
        display: grid;
    }
}
// for desktop
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .job-wrapper {
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
