.job {
    // width: 100%;
    // max-width: 450px;
    max-height: 200px;
    background-color: var(--secondary-color);
    border-radius: var(--boder-radius);
    border: 1px;
    // box-sizing: content-box;
    // box-shadow: 10px 10px 10px var(--gray-color);
    // box-shadow: 0px 5px 5px var(--gray-color);
    box-shadow: 0px 1px 1px #dddcdc;
    padding: 10px;
    &:hover {
        background-color: #dddcdc;
        transition: linear 0.5s;
    }
}
.content_job {
    display: flex;
    .col1 {
        flex: 1;
        .img_job {
            max-width: 140px;
            height: auto;
            border-radius: 10px;
            border: 1px;
            border-color: var(--gray-ligth-color);
        }
    }
    .col2 {
        flex: 3;
        .sub_row {
            margin: 2px 0 2px 0;
        }
        .name_job {
            font-weight: 700;
            font-size: 18px;
        }
        .infor_job {
            font-weight: 400;
            font-size: 16px;
            display: flex;
            align-items: center;
            opacity: 0.5;
        }
        .salary {
            color: var(--success-color);
            font-weight: 400;
            font-size: 16px;
        }
    }
    .col3 {
        flex: 1;
    }
}
.date-infor {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    p {
        margin-bottom: 0;
        margin-left: 8px;
    }
}
@media only screen and (min-width: 320px) {
    .job {
        .content_job {
            margin: 5px 0 5px 0 !important;
        }
    }
}
@media only screen and (max-width: 767px) {
    .sub_row {
        span {
            margin: 2px;
        }
    }
}
