.carousel-container {
    position: relative;
}
.wrap-carousel {
    position: relative;
    z-index: 1;
}
.img-carousel {
    width: 100%;
    // object-fit: fill;
    height: 300px;
}
.search-area {
    width: 50%;
    left: 25%;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 5px;
    select {
        width: auto;
        margin: 0 10px 0 10px;
    }
    button {
        width: 100%;
    }
}
.wrap-input-search {
    width: 50%;
    display: inline-flex;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    input {
        width: 100%;
        outline: none;
        border: none;
        padding: 5px 0px 5px 5px;
    }
}
// and (max-width: 480px)
//for mobile
@media only screen and (min-width: 320px) {
    .img-carousel {
        height: 200px;
    }
    //top = (height img / 5 ) + 80 (this is height of header)
    .search-area {
        width: 90%;
        left: 5%;
        padding: 10px;
        flex-direction: column;
        top: 220px;
        height: 150px;
        background-color: aqua;
        div,
        select,
        button {
            width: 90%;
        }
        select {
            margin: 5px 0px 5px 0;
        }
    }
}
//for tablet
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .img-carousel {
        height: 250px;
    }
    //top = (height img / 5 ) + 80 (this is height of header)
    // .search-area {
    //     top: 142.5px;
    //     height: 50px;
    //     flex-direction: column;
    // }
    .search-area {
        width: 90%;
        left: 5%;
        flex-direction: column;
        top: 270px;
        height: 150px;
        background-color: aqua;
        div,
        select,
        button {
            width: 90%;
        }
        select {
            margin: 5px 0 5px 0;
        }
    }
}
//for desktop
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .img-carousel {
        height: 400px;
    }
    //top = (height img / 5 ) + 80 (this is height of header)
    .search-area {
        width: 50%;
        left: 25%;
        top: 220px;
        height: 60px;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.58);
        .wrap-input-search {
            width: 50%;
        }
        select,
        button {
            width: auto;
        }
        select {
            margin: 0px 10px 0px 10px;
        }
    }
}
//for large desktop
@media only screen and (min-width: 1440px) {
    .img-carousel {
        height: 500px;
    }
    //top = (height img / 5 ) + 80 (this is height of header)
    .search-area {
        // top: 240px;
        // height: 70px;
        width: 50%;
        left: 25%;
        top: 270px;
        height: 80px;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.58);
        .wrap-input-search {
            width: 50%;
        }
        select,
        button {
            width: auto;
        }
        select {
            margin: 0px 10px 0px 10px;
        }
    }
}
