.job {
    max-width: 450px;
    height: 250px;
    background-color: red;
    border-radius: 10px;
    border: 1px;
}
.img_job {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}
