.password-field {
    position: relative;
    svg {
        position: absolute;
        right: 12px;
        top: calc(50% + 8px);
        color: var(--form-secondary-color);
        &:hover {
            opacity: 0.8;
        }
    }
}
