.wrapper {
    max-height: 500px;
    transform: translateY(-100%);
    animation: slide-in 0.8s forwards;
}
@keyframes slide-in {
    100% {
        transform: translateY(0%);
    }
}
.hello {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 50px;
}
.admin {
    margin-left: 64px;
    font-weight: bold;
}
