.overview-background {
    height: 500px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--boder-radius);
    background-image: url('../../../../public/static/imgs/employer-home-image.jpg');
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    .content {
        margin-left: 30%;
    }
    h1 {
        font-size: 64px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .button {
        margin-top: 32px;
        button {
            font-size: 30px;
        }
    }
}
