.password-field {
    .input-wrapper {
        position: relative;
        svg {
            position: absolute;
            right: 12px;
            top: calc(50%);
            transform: translateY(-50%);
            color: var(--form-secondary-color);
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
.form-error {
    margin-left: 4px;
    color: red;
    font-size: 14px;
}
